@import '@/styles/variables';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login {
  width: 100%;
  height: 100%;
  background-color: $darker-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}

.header {
  color: $white;
  margin-bottom: 40px;

  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  p {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.input {
  width: 100%;
  color: $white;
  padding: 8px 0;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray-500;
  font-size: 16px;

  &:focus {
    outline: none;
    border-bottom-color: $white;
  }

  &::placeholder {
    color: $gray-400;
  }
}

.button {
  width: 100%;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;

  &:hover:not(:disabled) {
    background-color: rgba($white, 0.1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
}

.dividerLine {
  width: 100%;
  height: 1px;
  background-color: $gray-500;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

  p {
    color: $gray-400;
    font-size: 14px;
    font-weight: 400;
  }

  a {
    color: $white;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.error {
  color: $red-500;
  margin-bottom: 16px;
  font-size: 14px;
}


@media (max-width: 1024px) {
  .login {
    padding: 32px;
  }
}

@media (max-width: 640px) {
  .login {
    padding: 24px;

    .form {
      .header {
        h3 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
