@import "@/styles/variables";

.header {
  max-width: 1200px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  @media (max-width: 430px) {

    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .headerLogo {
    align-items: center;
    display: flex;
    gap: 15px;
    cursor: pointer;

    .logoImage {
      width: 40px;
      height: 40px;
      animation: pulse 2s infinite;
    }
    .logoText {
      font-size: 24px;
      font-weight: 700;
      background: linear-gradient(100deg, $primary-color, $primary-light);
      padding: 0 8px 5px 8px;
      border-radius: $border-radius;

      //вебкины чтобы убрать фон ели нужно)
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: 430px) {

      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

  }

  .headerExit {
    display: flex;
    align-items: center;
    gap: 15px;

    .logoutBtn {
      padding: 10px 25px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      border: none;
      background: linear-gradient(135deg, $primary-color, $primary-light);
      cursor: pointer;
      transition: $transition;
      color: $white;
      order: 1;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 3px rgba($primary-color, 0.4);
      }
    }

    .backButton {
      padding: 10px 25px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      border: none;
      background: linear-gradient(135deg, $primary-color, $primary-light);
      cursor: pointer;
      transition: $transition;
      color: $white;
      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 3px rgba($primary-color, 0.4);
      }
    }
  }

}

@keyframes pulse {
  0% { transform: scale(1.2); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1.2); }
}


