@import "@/styles/variables";

:root {
  background-color: $darker-bg;
  color: #fff;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}