@import "@/styles/variables";

.postsBox {
  display: grid;
  gap: 25px;
  }

.commentsList {
  background: #e7e7e7;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #e9ecef;
  transition: all 0.3s ease;
  max-width: 25%;
}

.noCommentText {
  color: $gray-800;
}

.commentAuthor {
  color: $gray-800;
}

.commentText {
  color: $gray-800;
}

